body { 
   
     background: rgb(34,161,195);
     background: linear-gradient(322deg, rgba(34,161,195,1) 0%, rgba(45,99,253,1) 100%); 

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
    text-align: center;
}

button {
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 40px;
}

h1, h2{
  font-size: 30px;
  color:white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}

button:hover {
    opacity: .5;
}

form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 0px;
  padding: 5px;
  text-align: center; 
}

form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
table {
   background-color: white;
   margin-left: auto;
   margin-right:auto;
    width: 700px;
} tr{ color: red; }
th {
  color: black;  text-align: left;
    background-color: grey
    padding-top: 21px;
    padding-bottom: 21px;
}
td {
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
}
th, td {
    padding: 15px;
    text-align: left;
}
tr:nth-child(even){background-color: #f2f2f2}
