/*
By Nicholas Fritz
*/

body {
     background: rgb(34,161,195);
     background: linear-gradient(322deg, rgba(34,161,195,1) 0%, rgba(45,99,253,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-family: verdana;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;

}
input[type=text], input[type=password] {
    padding: 3px 3px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
button, input[type=button], input[type=submit], input[type=reset] {
    background-color: #4083ef;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    background-color : transparent;
    color: white;
    font-size: 14px;
}
button:hover {
    opacity: 0.8;
}
div.container {
 /* width: 250px;
  height: 300px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
 }

form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 160px;
  margin: 0px auto 10px;
  padding: 0px;
  text-align: center;
  font-size: 12px;
}
h1, h2{
  font-size: 30px;
  color:white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}
table {
   background-color: white;
   margin-left: auto;
   margin-right:auto;
    width: 700px;
}
th {
    text-align: left;
    background-color: grey
    padding-top: 21px;
    padding-bottom: 21px;
}
td {
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
}
th, td {
    padding: 15px;
    text-align: left;
}
tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: blue;}