<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Landing</title>
    <link th:href="@{css/landingsheet.css}" rel="stylesheet" media="screen"/>
</head>
<body>
        <form action="#" th:action="@{/transaction}" method="get">
            <button type="submit" >Transactions</button>
        </form>
        <form action="#" th:action="@{/products}" method="get">
            <button type="submit" >Products</button>
        </form>
        <!--<form action="#" th:action="@{/inventory}" method="get">
            <button type="submit" >Inventory</button>
        </form>-->
        <form action="#" th:action="@{/productBatch}" method="get">
            <button type="submit" >ProductBatch</button>
        </form>
        <form action="#" th:action="@{/}" method="get">
            <button type="submit" >Logout</button>
        </form>
    </body>
</html>