<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Landing</title>
</head>
    <body>
        <h1 th:text = "${message}"></h1>
        <form action="#" th:action="@{/}" method="get">
            <button type="submit" >Logout</button>
        </form>
        <form action="#" th:action="@{/order}" method="get">
            <button type="submit" >Order</button>
        </form>
        <form action="#" th:action="@{/products}" method="get">
            <button type="submit" >Products</button>
        </form>
        <form action="#" th:action="@{/inventory}" method="get">
            <button type="submit" >Inventory</button>
        </form>
        <form action="#" th:action="@{/productBatch}" method="get">
            <button type="submit" >ProductBatch</button>
        </form>
    </body>
</html>