<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProductBatch</title>
    <link th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h1 th:text = "${message}">Product Batch</h1>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(listOfAllProductBatch)}">
        <h1 align="center">Product Batch List</h1>
        <table>
            <tr>
                <th>BatchID</th>
                <th>SKU</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Perishable?</th>
                <th>ReceiveDate</th>

            </tr>
            <tr th:each="productBatch : ${listOfAllProductBatch}">
                <td th:text="${productBatch.batchId}">BatchID </td>
                <td th:text="${productBatch.productSku}">SKU</td>
                <td th:text="${productBatch.name}">Name</td>
                <td th:text="${productBatch.quantity}">Quantity</td>
                <td th:text="${productBatch.location}">Location</td>
                <td th:text="${productBatch.perishable}">Perishable</td>
                <td th:text="${#dates.format(productBatch.dateReceived, 'MM-dd-yyyy')}">DateRecvd</td>
            </tr>
        </table>
    </div>
</div>
<hr>
<h2 align="center">Delete Product Batch Form</h2>
<form  action="#" th:action="@{/productBatch/deleteProductBatch}" th:object="${deleteProductBatch}" method="post">
    <p>Batch ID: <input type="text" th:field="*{batchId}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
    <hr>
<h2 align="center">New Product Batch Form</h2>
<form action="#" th:action="@{/productBatch}" th:object="${newProductBatch}" method="post">
    <p>SKU: <input type="text" th:field="*{productSku}" /></p>
    <p>Quantity: <input type="text" th:field="*{quantity}" /></p>
    <p>Location: <input type="text" th:field="*{location}" /></p>
    <p>Date Received: <input type="text" th:field="*{dateReceived}" /></p>
    <p>Perishable: <input type="checkbox" th:field="*{perishable}"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<hr>
<h2 align="center">Update Location of Product Batch</h2>
<form  action="#" th:action="@{/productBatch/updateLocation}" th:object="${updateLocation}" method="post">
    <p>Batch ID: <input type="text" th:field="*{batchId}" /></p>
    <p>New Location: <input type="text" th:field="*{location}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
    <hr>
<h2 align="center">Update Quantity of Product Batch</h2>
<form  action="#" th:action="@{/productBatch/updateQuantity}" th:object="${updateQuantity}" method="post">
    <p>Batch ID: <input type="text" th:field="*{batchId}" /></p>
    <p>New Quantity: <input type="text" th:field="*{quantity}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<form action="#" th:action="@{/landing}" method="get">
    <button type="submit" >Back</button>
</form>

</body>
</html>