<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProductBatch</title>
    <link th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h1 th:text = "${message}">Product Batch</h1>
</head>
<body>

<h2>New Product Batch Form</h2>
<form action="#" th:action="@{/productBatch}" th:object="${newProductBatch}" method="post">
    <p>SKU: <input type="text" th:field="*{productSku}" /></p>
    <p>Quantity: <input type="text" th:field="*{quantity}" /></p>
    <p>Location: <input type="text" th:field="*{location}" /></p>
    <p>Date Received: <input type="text" th:field="*{dateReceived}" /></p>
    <p>Perishable: <input type="checkbox" th:field="*{perishable}"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>