<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h1>Products</h1>
</head>
<body>
<!--<div th:if="${not #lists.isEmpty(listOfAllProducts)}">-->
<!--<tr th:each="product : ${listOfAllProducts}">-->
    <!--<td th:text="${product.sku}">SKU</td>-->
    <!--<td th:text="${product.name}">Name</td>-->
    <!--<td th:text="${product.description}">Description</td>-->
    <!--<td th:text="${product.category}">Category</td>-->
    <!--<td th:text="${product.wholeSaleCost}">wholeSaleCost</td>-->
    <!--<td th:text="${product.salePrice}">salePrice</td>-->
<!--</tr>-->

<!--</div>-->
<!--<table th:object="${listOfAllProducts}" id="userTable" border="1">-->
    <!--<tr th:each="user :${listOfAllProducts}">-->
        <!--<td  th:text="${listOfAllProducts.getName()}"></td>-->
    <!--</tr>-->
<!--</table>-->
<!--<form  method="post" action="/products/new" name="Add Product">-->
    <!--<p>SKU: <input type="number" name="sku" /></p>-->
    <!--<p>Name: <input type="text" name="name" /></p>-->
    <!--<p>Description: <input type="text" name="description" /></p>-->
    <!--<p>Category: <input type="text" name="category" /></p>-->
    <!--<p>WholeSale: <input type="number" name="cost" /></p>-->
    <!--<p>SalePrice: <input type="number" name="price" /></p>-->
    <!--<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--</form>-->
<h1>Form</h1>
<form action="#" th:action="@{/products/new}" th:object="${product}" method="post">
    <p>SKU: <input type="text" th:field="*{sku}" /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Category: <input type="text" th:field="*{category}" /></p>
    <p>WholeSaleCost: <input type="text" th:field="*{wholeSaleCost}" /></p>
    <p>SalePrice: <input type="text" th:field="*{salePrice}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>