<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Transaction</title>
  <link th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<div class="container">
  <div th:if="${not #lists.isEmpty(listOfAllTransactions)}">
    <h1>Transaction List</h1>
    <table>
      <tr>
        <th>Transaction ID</th>
        <th>SKU</th>
        <th>Quantity</th>
        <th>Date</th>
        <th>Type</th>
      </tr>
      <tr th:each="transaction : ${listOfAllTransactions}">
        <td th:text="${transaction.transactionID}">Transaction ID</td>
        <td th:text="${transaction.sku}">SKU</td>
        <td th:text="${transaction.quantity}">Quantity</td>
        <td th:text="${transaction.transactionDate}">Date</td>
        <td th:text="${transaction.typeResult}">Type</td>
      </tr>
    </table>
  </div>
</div>
<h2>Create Transaction</h2>
<form action="#" th:action="@{/transaction}" th:object="${newTransaction}" method="post">
  <p>SKU: <input type="text" th:field="*{sku}" /></p>
  <p>Quantity: <input type="text" th:field="*{quantity}" /></p>
  <p>Transaction Date: <input type="text" th:field="*{transactionDate}" /></p>
  <p>Order Type: (Checked if sending, not checked if receiving)<input type="checkbox" th:field="*{type}"/></p>
  <input type="submit" value="Submit">
</form>
<form action="#" th:action="@{/landing}" method="get">
  <button type="submit" >Back</button>
</form>
</body>
</html>